@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.canvas-container {
  width: 100%;
  max-width: 800px; /* Set a maximum width */
  height: auto; /* Maintain aspect ratio */
  overflow: hidden; /* Prevent overflow */
  border: 1px solid black;
  position: relative;
}

canvas {
  width: 100%;
  height: auto;
  display: block;
}

